/* header related */
.header {
    margin: 30px 130px;
    background-color: azure;
    margin-bottom: 30px;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0px 200px; */

}

.nav-title {
    font-size: 20px;
    font-weight: 150px;
    color: #181818;

}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 25px;
    color: #474747;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.container {
    max-width: 400px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 30px 30px 0px 150px; */
}

.banner {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px; */
    /* display: flex;
    align-items: center;
    /* background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; */
    /* justify-content: space-between; */

}

.banner-title {
    width: 400px;
}

.banner-descreption {
    width: 270px;
    font-size: 12px;
    margin-top: 10px;

}

.banner .picture {
    width: 200px;
    border-image-width: 30px;
}

.btn-primary{
    font-size: 15px;
    padding: 10px;
color: white;
background: plum;
border: none;
}

/* main section */
.main {
    /* margin: 10px 175px; */
}

.box {
    display: flex;
    align-items: center;
    margin: 40px 150px;
    justify-content: space-around;
    border: 1 solid #474747;
    list-style: none;
    /* border-top: 2px; */
    padding: 30px 0px;
    background-color: steelblue;
}

.section-title {
    font-size: 30px;
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 22px;
    margin: 22px 375px;
    justify-content: center;
    /* height: 300px; */
    /* align-items: center; */


}

.skills-container img {
    width: 200px;
}

.skills-description {
    font-size: 6px;
    /* margin-top: 2px; */
    /* padding: 0px 20px; */
    font-weight: 50px;
}

.skills {
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 10px 0px;
}

.btn-secondary{
    border: none;
    color: palevioletred;
    background: none;

}
.place{
    margin-top: 40px;
    display: flex;
    align-items: center;
justify-content: center;
margin: 10px 145px;
gap: 30px;
}
.place-item{
    /* margin-right: 40px; */
    width: 360px;
}
.place img{
width: 250px;
}
.place-description{
    font-size: 10px;
}
.blog{
    /* display: flex; */
    text-align: center;
    align-items: center;
    background-color: slateblue;
    margin-top: 50px;
    padding: 20px;
    color: #fff;
}